# clipy
/local/
/docs/gen/
/docs/_dist/


#Temporary
/tests
/libclipy/core/pyml/
/libclipy/core/sobj/
/libclipy/core/print/
docs/obj.rst
docs/pyml.rst

# Python
.python/
.coverage
.pytest_cache
.python-version
__pycache__/
*.py[cod]
*$py.class
*.so

# editors
.vscode
.claude

# OS
.DS_Store
