=========
Project
=========

`Read the built documentation <../../blob/docs/markdown/README.md>`__

Getting Started
================

Run ``./cli.py -h`` to see what commands are available.
Run ``./cli.py docs view`` and read all of this documentation in the browser.

.. toctree::
   :maxdepth: 1

   docs/issues

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
