=========
Project
=========

A short description of what this project is for.


Getting Started
================

You can browse the `markdown documentation <../../blob/docs/markdown/README.md>`__ if you're reading this on github.

.. code-block:: bash

   # List available commands
   $ ./cli.py

   # Open this documentation locally in the browser
   $ ./cli.py docs view


.. toctree::
   :maxdepth: 1

   docs/issues

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
